.card__body:hover {
  background-color: var(--ligthblue);
  transform: translate(-5px, -5px);
}

.card__body {
  transition: all 0.5s ease;
}

.card__buttonBuy {
  transition: all 0.5s ease;
}

.card__buttonBuy:hover {
  background-color: var(--black);
  color: var(--white);
}

.footerBottom__item:hover {
  color: var(--blue);
}
