.card__body:hover {
  box-shadow: 27px 30px 15px rgb(0 0 0 / 12%);
  transform: translate(-5px, -5px);
}

.card__body {
  transition: all 0.5s ease;
}

.card__buttonBuy {
  transition: all 0.5s ease;
}

.card__buttonBuy:hover {
  background-color: var(--black);
  color: var(--white);
}

.footerBottom__item:hover {
  color: var(--blue);
}
